
#layer1 {
  background-color: #4d1adb;
  color: #1ee4fa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  text-align:start;
}
#header {
  display: flex;
  text-decoration: #1ee4fa;
  background-color: #4d1adb;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: circle;
}

.flex1 {
  text-align: center;
  width: 100px;
  height: 100px;
  flex-basis: auto;
}

.flex2 {
  text-align: center;
  flex-grow: 1;
  flex-basis: auto;
}

.flex3 {
  text-align: center;
  flex-grow: 1;
  flex-basis: auto;
}
.flex4 {
  text-align: center;
  flex-grow: 1;
  flex-basis: fill;
}

#sub {
  display: block;
  color: #4520ab;
  width: 489px;
  position: relative;
  top: 0px;
}
.flex5 {
  text-align: left;
  flex-grow: 1;
  flex-basis: content;
}
body {
  background: url(https://html5book.ru/wp-content/uploads/2015/10/background54.png);
  background-color: #ff50e5;
}
.animated-button {
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 15px 30px;
  overflow: hidden;
  border: 2px solid;
  border-bottom-width: 4px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgba(30, 255, 188, 1);
  background: rgba(255, 255, 255, 1);
  transition: color 0.3s, background 0.5s;
}
.animated-button:hover {
  animation: stripes 0.75s infinite linear;
  background: linear-gradient(
    45deg,
    rgba(30, 255, 188, 1) 25%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 1) 50%,
    rgba(30, 255, 188, 1) 50%,
    rgba(30, 255, 188, 1) 75%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 1)
  );
  background-size: 10px 10px;
  color: #ff50e5;
}
@keyframes stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 0;
  }
}
.photos {
  display: flex;
  text-decoration: #1ee4fa;
  background-color: #4d1adb;
  justify-content: 0;
  list-style-type: circle;
  border: 3px solid black;
}
.bob1 {
  text-align: center;
  width: 308px;
  height: 250px;
  border: solid;
  flex-basis: auto;
}
.bob2 {
  text-align: center;
  width: 308px;
  height: 250px;
  border: solid;
  flex-basis: auto;
}
.bob3 {
  text-align: center;
  width: 309px;
  height: 250px;
  border: solid;
  flex-basis: auto;
}

.bob4 {
  text-align: center;
  width: 309px;
  height: 250px;
  border: solid;
  flex-basis: auto;
}

#Layer2 {
  background-color: #4d1adb;
  color: #1ee4fa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  text-align: center;
}

.lob1 {
  text-align: center;
  width: 430px;
  height: 350px;
  flex-basis: auto;
}
.lob2 {
  text-align: center;
  width: 490px;
  height: 350px;
  flex-basis: auto;
}
.lob3 {
  position: relative;
  width: 760px;
  height: 550px;
  top: 0;
  right: 20;
}
.lob4 {
  position: relative;
  width: 328px;
  height: 550px;
  left: 10px;
  top: 0px;
}
#layer3{
    text-align: center;
    background-color: #4d1adb;
    color: #1ee4fa;
}